.product{
  &Desc{
    text-align: center;
    color: rgba(235, 122, 103, 1);
    font-size: 40px;
    margin: 30px;
  }
  &Wrapper{
    padding: 0 170px;
  }
  &Item{
    float: left;
    width: 325px;
    height: 300px;
    margin: 0 23px 80px 23px;
    background:rgba(235, 122, 103, 1);
  }
}
.box{
  overflow: hidden;
  margin: 0 -23px;
}
.price{
  height: 30px;
  text-align: center;
  p{
    margin: 0;
  }
}
