.box{
//  height: 600px; 
//  background: #D5D3AD;
 &Img{
  height: 600px; 
  text-align: center;
  background: #D5D3AD;
 }
 &Content{
  //  height: 600px;
  //  padding-top: 30px;
 }
}
.product{
  &Desc{
    text-align: center;
    color: rgba(235, 122, 103, 1);
    font-size: 40px;
    margin: 30px;
  }
  &Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &Item{
    width: 325px;
    height: 300px;
    margin: 0 23px;
    background:rgba(235, 122, 103, 1);
  }
  &BtnBox{
    text-align: center;
    margin: 30px 0;
  }
  &Btn{
    height: 60px;
    line-height: 60px;
    span{
      padding: 20px;
      color: rgba(235, 122, 103, 1);
      font-size: 16px;
      text-align: center;
      border: 2px solid rgba(235, 122, 103, 1);
    }
  }
}

.desc_box{
  padding: 33px 0 29px 0;
  // height: 140px;
  // line-height: 140px;
  opacity: 0.7;
  background-color: rgba(209, 208, 170, 1);
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  p{
    margin-bottom: 0px;
  }
}
.twoWrapper{

}
.left{
  padding: 0 130px 0 160px;
  &Title{
    margin-top: 132px;
    color: rgba(235, 122, 103, 1);
    font-size: 32px;
  }
  &Content{
    margin: 47px 0;
  }
  &BtnBox{
  }
  &Btn{
    height: 60px;
    line-height: 60px;
    span{
      padding: 20px;
      color: rgba(235, 122, 103, 1);
      font-size: 16px;
      text-align: center;
      border: 2px solid rgba(235, 122, 103, 1);
    }
  }
}
.right{
  height: 724px;
  background: #EB7A67;
}